#sendmessage, #sendmessage2, #sendmessage3 {
    border: 1px solid #e6e6e6;
    background: #f6f6f6;
    display: none;
    text-align: center;
    padding: 15px 12px 15px 65px;
    margin: 10px 0;
    font-weight: 600;
    margin-bottom: 30px;
    color: #2a9055;
}

#errsend, #errsend2, #errsend3 {
    border: 1px solid #e6e6e6;
    background: #f6f6f6;
    display: none;
    text-align: center;
    padding: 15px 12px 15px 65px;
    margin: 10px 0;
    font-weight: 600;
    color: #f00;
}

a #left_navbar {
    color: #4c110f;
}


/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
    background: #EEE;
}

.carousel-cell {
    width: 250px;
    height: 100px;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(carousel-cell);
    line-height: 100px;
    font-size: 80px;
    color: white;
}
