#body{
    background-color: #D0D0D0;
   /* margin:0 130px 0 130px;*/
}

#main_style{
    background-color: #ffffff;
}

#sendmessage, #sendmessage2, #sendmessage3 {
    border: 1px solid #e6e6e6;
    background: #f6f6f6;
    display: none;
    text-align: center;
    padding: 15px 12px 15px 65px;
    margin: 10px 0;
    font-weight: 600;
    margin-bottom: 30px;
    color: #2a9055;
}

#errsend, #errsend2, #errsend3 {
    border: 1px solid #e6e6e6;
    background: #f6f6f6;
    display: none;
    text-align: center;
    padding: 15px 12px 15px 65px;
    margin: 10px 0;
    font-weight: 600;
    color: #f00;
}

#about_icon {
    font-size: 25pt;
    text-align: center;
}


/* страница main */

#line_main{
    border: none; /* Убираем границу */
    background-color: #333333; /* Цвет линии */
    color: black; /* Цвет линии для IE6-7 */
    height: 1px; /* Толщина линии */
}


/* блок footer */
#footer{
    padding: 24px 28px;
    background-color: #171919;
    color: #FFFFFF;
}

#footer_text_small{
    color: #8D939C;
}

#footer_list{
    color: #8D939C;
    font-size: 14px;
}

#line{
    border: none; /* Убираем границу */
    background-color: #474747; /* Цвет линии */
    color: #6c757d; /* Цвет линии для IE6-7 */
    height: 1px; /* Толщина линии */
}

